{% load staticfiles %}

<head>
    <title>MyThoughts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<div class="col-sm-6 col-sm-offset-3">
<ul class="nav nav-pills" role="tablist">
    {% if window == 1 %}
        <li role="presentation" class="active"><a href="{% url 'posts:list' %}">Home</a></li>
    {% else %}
    <li role="presentation"><a href="{% url 'posts:list' %}">Home</a></li>
    {% endif %}
    {% if window == 5 %}
        <li role="presentation" class="active"><a href="{% url 'posts:create' %}">Write</a></li>
    {% else %}
        <li role="presentation"><a href="{% url 'posts:create' %}">Write</a></li>
    {% endif %}
    {% if window == 2 %}
        <li role="presentation" class="active"><a href="{% url 'posts:mypeople' %}">Followings</a></li>
    {% else %}
        <li role="presentation"><a href="{% url 'posts:mypeople' %}">Followings</a></li>
    {% endif %}
    {% if window == 3 %}
        <li role="presentation" class="active"><a href="{% url 'users:myprofile' %}">Profile</a></li>
    {% else %}
        <li role="presentation"><a href="{% url 'users:myprofile' %}">Profile</a></li>
    {% endif %}
    {% if window == 4 %}
        <li role="presentation" class="active"><a href="{% url 'users:notifications' %}">Notifications
    {% else %}
        <li role="presentation"><a href="{% url 'users:notifications' %}">Notifications
    {% endif %}
    {% if notifications > 0 %}
        <span class="badge">{{ notifications }}</span></a></li>
    {% endif %}
    <li role="presentation"><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
    <hr>
</div>
{% block content %}
{% endblock content%}


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>