{% extends 'base.html' %}
{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    <form method="GET" action="{% url 'posts:search' %}">
        <input type="text" name="query" >
        <a href="{% url 'posts:search' %}" class="btn btn-primary" role="button">Search</a>
        <br>
        <input type="radio" name='choice' value="Posts" > Posts
        <input type="radio" name='choice' value="Users"> Users<br>

    </form>
    {% if instances %}
        {% for obj in instances %}
        <div class="row">
            <div class="col-sm-6 col-md-10">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{ obj.title }}<br><small> {{ obj.timestamp|timesince }} ago</small></h3>
                        {% if obj.image %}
                            <img src="{{ obj.image.url }}" width="480" height="300">
                        {% endif %}
                        <p>{{ obj.content|linebreaks|truncatechars:100 }}</p>
                        <p><a href="{% url 'posts:detail' slug=obj.slug %}" class="btn btn-primary" role="button">Read</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h1> You don't have any post. </h1>
    {% endif %}
    </div>
{% endblock content %}
